.banner {
background-size: cover;
background-position: center;
padding: 200px 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-direction: column;
  border-radius: 8px;
  
  text-shadow: 2px 2 px 3px rgba(0, 0, 0, 0.3);
}